h1{
        font-family: "Anton", serif;
        font-weight: 400;
        font-style: normal;
        color:coral;
      }

h3{
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
  color: chocolate;

}